.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    gap: 10%;
    position: absolute;
    width: 30%;
    top: 5%;
    left: 60%;
    z-index: 999;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligne le contenu à la fin verticalement */
    align-items: center; /* Aligne le contenu à droite horizontalement */
}

#VoirPlus {

    color: #e4e5e4;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 20px 0px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-weight: bold; /* Optionnel : pour mettre en évidence le lien */
}

/* Effet Hover */
#VoirPlus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #f6a11a;
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
}

#VoirPlus:hover {
    color: #d98500;
    transition: color 0.5s ease-in-out;
}

#VoirPlus:hover::after {
    transform: translateX(0%);
}#VoirPlus{
    font-size: 1.0rem;
    top: 70%;
    left: 50%;

}




/* Conteneur du logo à gauche */
.logo-container {
    position: absolute;
    left: -165%; /* Ajuste la position pour bien le placer */
    top: 55%;
    transform: translateY(-50%);
    width: 50px; /* Ajuste la taille du logo */
}

.logo-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;

}


.logo-container:hover img {
    opacity: 0.5; /* Rend l’image plus claire au survol */
    content: url('../img/logo-hover.png'); /* Remplace l’image */
}

/* Liens de navigation */
.nav a {
    color: #e4e5e4;
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 10px;
}

#header-about{
    top: 10%;
    padding: 10px 5px;
}

/* Effet Hover */
.nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #f6a11a;
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
}

.nav a:hover {
    color: #d98500;
    transition: color 0.5s ease-in-out;
}

.nav a:hover::after {
    transform: translateX(0%);
}
@keyframes gradient-89 {
    0% { background-position: 100% 0%; }
    50% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

