  
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Exo", serif;
            scroll-behavior: smooth; /* Animation fluide lors du scroll */
            

        }
        body {
                background-color: #e4e5e4;
            background-image: 
                linear-gradient(to top, rgba(22, 34, 58, 0.8) 10%, transparent 10%),
                linear-gradient(to bottom, rgba(22, 34, 58, 0.8) 30%, transparent 80%);
            width: 100%;
            overflow: hidden;
        }

        .container {
            width: 100%;
            min-height: 120vh; /* Permet au SVG de ne pas être coupé */
            position: relative;
            overflow: visible;
        }

       
        .hero {
            display: flex;
            align-items: center;
            height: 100vh;
            position: relative;
            overflow: hidden;
            padding: 0 ;
            height: 120vh; /* Permet au contenu de la section de s'adapter à la taille */
        padding-bottom: 200px; /* Ajoute de l’espace en bas */
        z-index: 3;
        }
        .letter-f {
            position: absolute;
            left: 0;
            top: 0;
            width: 30%;
            height: 100vh;
            z-index: 2;
            padding-bottom: 1000px;
        }
        .illustration {
            
            /* background: rgba(255, 0, 0, 0.3); */
            position: absolute;
            left: -6%;
            top: 41%;
            transform: translateY(-50%);
            z-index: 999;
        }
        .text {
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translateY(-50%);
            max-width: 400px;
            font-size: 2rem;
            text-align: left;
            z-index: 2;
        }




      
        .letter-e {
            position: absolute;
            opacity: 0.3;
            top: 25%;
            left: -5%;
            z-index: 99;
        }

        .letter-l {
            position: absolute;
            opacity: 0.3;
            top: -10%;
            left: -5%;
            z-index: 1;
        }
        #letter-l-svg{
            z-index: 2;
        }

        .letter-x {
            position: absolute;
            opacity: 0.3;
            top: 30%;
            left: 60%;
            z-index: 1;
        }

        #photo-moi{
            width: 100vw; /* Ajuste la largeur à 40% de l'écran */
     /* Empêche l'image de devenir trop grande */
    height: auto; /* Garde les proportions */
    display: block; /* Évite les espaces vides autour */
    margin: 0 auto; /* Centre horizontalement */
    border-radius: 10px; /* Optionnel : ajoute des bords arrondis */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Optionnel : ajoute une ombre */
            
        }

        #desc-about{
                position: absolute;
                align-items: flex-start;
                display: flex;
                left: 20%;
                top: 30%;
                width: 500px;
                max-width: 80%;
                z-index: 3;
            }

            #desc-aboutp:nth-child(1){
                text-transform: uppercase;
                letter-spacing: 10px;
            }
                
            #desc-about h2{
                font-size: 100px;
                margin: 0; 
          }


          

          .projet-galerie {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            width: 50%;
            margin-left: auto;
            padding-top: 20px;
        }
        
        .projet-galerie .image {
            width: 100%;
            overflow: hidden;
            border-radius: 8px;
        }
        
        .projet-galerie img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
            transition: transform 0.3s ease-in-out;
        }
        
        .projet-galerie img:hover {
            transform: scale(1.05);
        }
        
        .icon-about{
            padding: 20px 0px;
            display: flex;
            
           
        }
        #icons {
            font-size: 30px;
            padding: 10px;
            color: #e4e5e4; /* Couleur de base */
            transition: color 0.3s ease-in-out; /* Animation fluide */
        }

        
        #icons:hover {
            color: #f6a11a; /* Changement de couleur au survol */
        }

        .btn-cv {
            color: #e4e5e4;
            text-decoration: none;
            font-size: 1.0rem;
            position: relative;
            display: inline-block;
            overflow: hidden;
            font-weight: bold;
            margin-top: 20px;
            padding: 10px 20px;
            border: 2px solid #e4e5e4;
            border-radius: 5px;
            transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
            z-index: 100;
        }
        
        /* Effet Hover */
        .btn-cv::after {
            z-index: 100;

            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background: #f6a11a;
            transition: transform 0.3s ease-in-out;
            transform: translateX(-100%);
        }
        
        .btn-cv:hover {
            color: #d98500;
            border-color: #d98500;
        }
        
        .btn-cv:hover::after {
            transform: translateX(0%);
        }
        
        